body{
    /* background: rgb(212, 181, 181); */
    display: flex;
    justify-content: center;
}

#body{
    /* background: rgb(212, 181, 181); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading{
    display: flex;
    justify-content: space-between;
}

#filled{
    float: right;
}

.sudoku{
    border: 5px solid;
    display: flex;
    flex-direction: column;
    max-width: 630px;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    height:70px;
    width: 70px;
    border: 1px solid;
    display: block;
    text-align: center;
    font-size: 2.5em;
}

#error{
    color:#dc3545;
}

#success{
    color: #02f42f;
}

.my-4{
    margin: 2% 0;
}

#difficulty-form{
    display: flex;
    justify-content: space-between;
}
#sudoku-bg{
    top: 15.8%;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 650px;
    position: absolute;
    background-color: rgba(51,51,51,0.3);
    z-index: -1;
}

#pause-resume, #restart{
    display: none
}