body{
    /* background: rgb(212, 181, 181); */
    display: flex;
    justify-content: center;
}

#body{
    /* background: rgb(212, 181, 181); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading{
    display: flex;
    justify-content: space-between;
}

#filled{
    float: right;
}

.sudoku{
    border: 5px solid;
    display: flex;
    flex-direction: column;
    max-width: 630px;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    height:70px;
    width: 70px;
    border: 1px solid;
    display: block;
    text-align: center;
    font-size: 2.5em;
}

#error{
    color:#dc3545;
}

#success{
    color: #02f42f;
}